<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <body>
		<h1>Your account</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{ user }} 
		<tr>
		<th style="text-align:left">Balance:  <td>{{ balance }}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Transfer money</h2>

        <form action='transfer/' method="POST">
            {% csrf_token %}
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.username}}">{{account.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>
            {% buttons %}
            <button type="submit" class="btn btn-primary" id="Transfer">Transfer</button>
            {% endbuttons %}
        </form>
    </body>
</html>
